exportPattern("^[[:alpha:]]+")
export(import)
export(writeCSV)
export(export)
export(stop)
export(destring)
export(resequence)
export(convertTSV)
export(updateStats)
export(exportFWF)
export(stringLength)
export(createCategories)
export(validateKeys)
export(categoryFrequency)
import(haven)
import(stringr)
import(plyr)
import(jsonlite)
import(readr)
import(labelled)
import(stringi)
